.container-padding {
    padding: 0 15rem;
}


.color-white {
    color: var(--white);
}

.opacity-reduced {
    opacity: .7;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}


.margin-bottom-large {

    margin-bottom: 5rem;
}



/* Media queries Mobile */




@media (max-width: 1124px){

    .container-padding {
        padding: 5rem;
    }

}
@media (max-width: 575px){

    .container-padding {
        padding: 3rem;
    }

}
@media (max-width: 399px){

    .container-padding {
        padding: 2rem;
    }

}


/* @media (min-width: 660px){

    .container-padding {
        padding: 0 5rem;
    }

} */
